doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  style.
    .champion {
    //- background-color: violet;
    width: 900px;
    height: auto;
    margin: 0 auto;
    //- margin-left: 13%;
    margin-top: 7%;
    border: 2px solid rgb(226, 164, 71);
    //- background-image: url('./img/wallpaper1.jpg')
    }
    .line_seperator {
    //- background-color: yellowgreen;
    display: flex;
    justify-content: flex-start;
    }
    .main-container {
    //- background-color: tomato;
    display: flex;
    width: 95%;
    height: auto;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    }
    button {
    margin: auto;
    margin-bottom: 3%;
    width: 70px;
    height: 30px;
    font-weight: 500;
    //- padding: auto;
    }
    a {
    margin: auto;
    }
    .test {
    margin: auto;
    padding-bottom: 7px;
    font-size: 0.7rem;
    }
    .t1 {
    margin: auto;
    visibility: hidden;
    }
    .champname {
    margin: auto;
    font-weight: 550;
    }
    img {
    width: 90px;
    height: 90px;
    cursor: pointer;
    }
  script(type='module', src='/js/front.js')
  link(rel='stylesheet', href='/css/header.css', type='text/css')
  link(rel='stylesheet', href='/css/infoBox.css', type='text/css')

body
    header 
        include ./header.pug
    
    include ./infoBox.pug

    .main-container
        - for (let i=0; i<test.length; i++)
            if (i%3==0)
                .liner  
                            
            .content-container
                .skin-container
                    img(src= '/' + test[i].imgsrc)
                .text-box #{test[i].skin}
                .price
                    .price
                    img.money-icon(src='/img/money.png')
                    span.test #{test[i].money}
                //- test[i] = img/skin/Garen/Garen_0.jpg
                form(class='form' action='/skin/'+ (test[i].imgsrc.split('/')[3]).split('.')[0], method='post')
                    .btn-box
                        input.buy(type='button', value='구매하기')
                        
        