nav.navbar
    .nav_logo
      a(href='/')
        img(src='/img/main/Logo_03_999x451.png', style='width: 130px; height: 50px;')
    ul.nav_menu
      li
        form(action='/', method='get')
          input(type='submit', value='HOME')
      //- li
      //-   form(action='', method='get')
      //-     input(type='submit', value='캐릭터DB')
      li
        form(action='/skinTrade', method='get')
          input(type='submit', value='캐릭터스킨')
      li
        form(action='/board/page', method='get')
          input(type='submit', value='커뮤니티')
    ul.nav_signUp
      if(!loginstate)
        li
          input(type='button' value='회원가입' id='signup')
        li
          input(type='button' value='로그인' id='login')
      if(loginstate == "okay")
        li
          input(type='button' value='마이페이지' id='mypage')
        li
          form(id="logoutbtn" action='/logout' method='POST')
            button#logoutBtn(type='submit') 로그아웃
    .nav_toggleBtn
      .line1
      .line2
      .line3

script(src='/js/header.js', type='text/javascript' defer)