nav.navbar
  .nav_logo
    a(href='/')
      img(src='/img/main/Logo_03_999x451.png', style='width: 130px; height: 50px;')
  ul.nav_menu
    li
      form(action='/', method='get')
        input.navBarMenuBtn(type='submit', value='HOME')
    li
      form(action='/skinTrade', method='get')
        input.navBarMenuBtn(type='submit', value='캐릭터스킨')
    li
      form(action='/board/page', method='get')
        input.navBarMenuBtn(type='submit', value='커뮤니티')
  ul.nav_signUp
    if(!loginstate)
      li
        input#signup.navBarSignBtn(type='button', value='회원가입')
      li
        input#login.navBarSignBtn(type='button', value='로그인')
    if(loginstate == "okay")
      li
        form(action='/mypage', method='get')
          input#mypage.navBarSignBtn(type='submit', value='마이페이지')
      li
        form(action='/logout', method='post')
          input#logoutbtn.navBarSignBtn(type='submit', value='로그아웃')
  .nav_toggleBtn
    .line1
    .line2
    .line3


script(src='/js/header.js', type='text/javascript' defer)