<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/header.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav_logo"><a href="/"><img src="/img/main/Logo_03_999x451.png" style="width: 130px; height: 50px;" /></a></div>
        <ul class="nav_menu">
            <li>
                <form action="/" method="get">
                    <input class="navBarMenuBtn" type="submit" value="HOME" />
                </form>
            </li>
            <li>
                <form action="/skinTrade" method="get">
                    <input class="navBarMenuBtn" type="submit" value="캐릭터스킨" />
                </form>
            </li>
            <li>
                <form action="/board/page" method="get">
                    <input class="navBarMenuBtn" type="submit" value="커뮤니티" />
                </form>
            </li>
        </ul>
        <ul class="nav_signUp">
            <li>
                <input class="navBarSignBtn" type="button" value="회원가입" id="signup" />
            </li>
            <li>
                <input class="navBarSignBtn" type="button" value="로그인" id="login" />
            </li>
        </ul>
        <div class="nav_toggleBtn">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script src="./js/header.js" type="text/javascript" defer="defer"></script>
</body>
</html>