<!DOCTYPE html>

<head lang="ko">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css" type="text/css">
    <script src="./js/maintest.js" defer></script>
</head>
<header>
    
</header>
<main>
    <section class="forWheelPage">
        <div class="sec_1_container">
            <div class="leftPopupContainer lefyPopupDelay">
                <div class="leftPopupBox lefyPopupDelay">
                    <div>
                        <img class="leftPopupImg" src="./img/main/nidalee.png">
                    </div>
                    <div class="leftPopupBG">
                        <img class="leftPopupBG" src="./img/main/logoLeftPopupbg.png">
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
</main>
<div style="position: fixed; bottom: 20px; right: 20px; font-weight: 600;"><a href="#">TOP</a></div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>