<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>

  <body>
    <header>
      <nav class="navbar">
        <div class="nav_logo">
          <a href="#">
            <img src="/img/main/Logo_03_999x451.png" style="width: 130px; height: 50px;">
          </a>
        </div>
        <ul class="nav_menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">캐릭터DB</a></li>
          <li><a href="#">캐릭터스킨</a></li>
          <li><a href="#">커뮤니티</a></li>
        </ul>
        <ul class="nav_signUp">
          <li><a href="#">SignIn</a></li>
          <li><a href="#">SignUp</a></li>
        </ul>
        <div class="nav_toggleBtn">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </header>

    <main>
      
      <section class="forWheelPage">
        <div class="sec_1_container">
          <div class="leftPopupContainer lefyPopupDelay">
            <div class="leftPopupBox lefyPopupDelay">
              <h1>스킨할인판매중</h1><br>
              <h1>스킨할인판매중</h1><br>
              <h1>스킨할인판매중</h1><br>
              <h1>스킨할인판매중</h1>
            </div>
          </div>
          <div class="introBox">
            <div class="freeSkinContainer">
              <div class="freeSkinBox animDelay_01">
                <img class="freeSkinImg" src="/img/main/free_01_꿀잼 유미.jpg" style="width: 100%; height: 100%;">
              </div>
              <div class="freeSkinBox animDelay_02">
                <img class="freeSkinImg" src="/img/main/free_02_꼬마 악마 트리스타나.jpg" style="width: 100%; height: 100%;">
              </div>
              <div class="freeSkinBox animDelay_03">
                <img class="freeSkinImg" src="/img/main/free_03_기동총격여신 미스 포츈.jpg" style="width: 100%; height: 100%;">
              </div>
              <div class="freeSkinBox animDelay_04">
                <img class="freeSkinImg" src="/img/main/free_04_그림자 불꽃 킨드레드.jpg" style="width: 100%; height: 100%;">
              </div>
              <div class="freeSkinBox animDelay_05">
                <img class="freeSkinImg" src="/img/main/free_05_SKT T1 리 신.jpg" style="width: 100%; height: 100%;">
              </div>
              <div class="freeSkinBox animDelay_06">
                <img class="freeSkinImg" src="/img/main/free_06_KDA 이블린.jpg" style="width: 100%; height: 100%;">
              </div>
              <div class="freeSkinBox animDelay_07">
                <img class="freeSkinImg" src="/img/main/free_07_KDA 이블린 프레스티지 에디션.jpg" style="width: 100%; height: 100%;">
              </div>
              <div class="freeSkinBox animDelay_08">
                <img class="freeSkinImg" src="/img/main/free_08_KDA ALL OUT 세라핀 인디.jpg" style="width: 100%; height: 100%;">
              </div> 
              <div class="freeSkinBox animDelay_09">
                <img class="freeSkinImg" src="/img/main/free_09_깊은 숲 애쉬.jpg" style="width: 100%; height: 100%;">
              </div>
            </div>
            <div class="freeSkinLogoContainer logoAnimDelay">
              <img class="freeSkinImgLogo" src="/img/main/Logo_03_999x451.png">
            </div>
          </div>
        </div>
      </section>

      <section class="forWheelPage">
        <div class="sec_2_container">
            <div class="moveAnim freeSkin_rightIn">
              <img class="sec_2_sideImage sec_2_sideImageleftSize" src="/img/main/champion_left.png">
            </div>
            <div class="sec_2_textBoxContainer">
              <div class="sec_2_textBox ">
                  <div class="sec_2_text moveAnim sec_2_text_UpIn"> 
                      차별화 된<br>
                      　나만의 스킨으로<br>
                      　　전장을 지배하자.
                    </ul>
                </div> 
              </div>
                <div class="sec_2_ImgBG"></div>
                <div class="sec_2_imgBox">
                  <img class="sec_2_Img" src="/img/main/challenger.png">
                </div>
            </div>
            <div class="moveAnim freeSkin_leftIn">
              <img class="sec_2_sideImage sec_2_sideImagerightSize" src="/img/main/champion_right.png">
            </div>
        </div>
      </section>
    </main>

    <div style="position: fixed; bottom: 20px; right: 20px; font-weight: 600;">
      <a href="#">TOP</a>
    </div>

    <script src="/js/index.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>

  </body>
</html>