<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/infoBox.css">
</head>
<body>
    <div class="infoBoxContainer">
        <div class="infoBox">
            <div class="infoBoxUserID">
                <a href="">id가 들어올 곳.</a>
            </div>
            <br>
            <div class="infoBoxUserPoint">
                <a href="">point가 들어올 곳.</a>
            </div>
        </div>
    </div>
</body>
</html>