<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script></script>
</head>
<body>
    <div>
        <form action="">
            <div>
                <label for = "id">ID : </label>
                <input id = "id" placeholder = "ID를 입력하세요">
            </div>
            <div>
                <label for = "pwd">비밀번호 : </label>
                <input id = "pwd" type="password" placeholder = "비밀번호를 입력하세요">
            </div>
            <br>
            <button type = "submit" id = "logInBtn">로그인</button>
        </form>
    </div>
</body>
</html>