doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title 로그인
    body
        div
            form(action='login'  method='POST')
                div
                    label(for='userid') ID : 
                    input#userid(name='id' require placeholder='ID를 입력하세요')
                div
                    label(for='pwd') 비밀번호 : 
                    input#pwd(name='pwd' type='password' require placeholder='비밀번호를 입력하세요')
                br
                button#logInBtn(type='submit') 로그인
    