<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="../js/signup.js" defer></script>
</head>
<body>
    <div>
        <form action="">
            <div>
                <label for = "id">ID : </label>
                <input id = "id" placeholder = "ID를 입력하세요">
            </div>
            <div>
                <label for = "pwd">비밀번호 : </label>
                <input id = "pwd" type="password" placeholder = "비밀번호를 입력하세요">
            </div>
            <div>
                <label for = "checkPwd">비밀번호 확인 : </label>
                <input id = "checkPwd" type="password" placeholder = "비밀번호를 입력하세요">
            </div>
            <div>
                <label for = "username">이름 : </label>
                <input id = "username" placeholder = "이름을 입력하세요">
            </div>
            <div>
                <label for = "email">이메일: </label>
                <input id = "email" placeholder = "이메일을 입력하세요">
            </div>
            <br>
            <button type = "button" id = "signUpBtn">회원가입</button>
        </form>
    </div>
</body>
</html>