<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="/js/signup.js" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
</head>

<body>
    <div style="width: 520px; height: 300px; background-color: red; display:table; padding: 15px;">
        <div style="background-color: yellow; border: 3px solid rgb(226, 164, 71); border-radius: 15px; display: table-cell;">
            <form id="signupSubmit" action="/signup" method="POST">
                <div class="mainTitle">

                </div>
                <div class="signupInputBox">
                    <div class="signupSubTitle">
                        <label for="userid">ID : </label>
                    </div>
                    <input id="userid" name="id" type="text" require placeholder="ID를 입력하세요" checkresult="fail">
                </div>
                <div class="signupInputBox">
                    <div class="signupSubTitle">
                        <label for="pwd">비밀번호 : </label>
                    </div>
                    <input id="pwd" name="password" type="password" require placeholder="비밀번호를 입력하세요">
                </div>
                <div class="signupInputBox">
                    <div class="signupSubTitle">
                        <label for="checkPwd">비밀번호 확인 : </label>
                    </div>
                    <input id="checkPwd" type="password" require placeholder="비밀번호를 입력하세요">
                </div>
                <div class="signupInputBox">
                    <div class="signupSubTitle">
                        <label for="username">이름 : </label>
                    </div>
                    <input id="username" name="username" require placeholder="이름을 입력하세요">
                </div>
                <div class="signupInputBox">
                    <div class="signupSubTitle">
                        <label for="email">이메일 : </label>
                    </div>
                    <input id="email" name="email" require placeholder="이메일을 입력하세요">
                </div>
                <div class="signupInputBox">
                    <div class="signupSubTitle">
                        <label for="addr">주소 :</label>
                    </div>
                    <input name="address" type="text" id="addr" require placeholder="주소를 입력하세요" readonly>
                </div>
                <div class="signupInputBox">
                    <div class="signupSubTitle">
                        <label for="addrDet">상세 주소 : </label>
                    </div>
                    <input id="addrDet" name="addressdet" require placeholder="상세 주소를 입력하세요"></div><br><button id="signUpBtn" type="submit">회원가입</button>
            </form>
        </div>
    </div>
</body>

</html>