doctype html
head(lang="ko")
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title}
  link(rel='stylesheet', href='/css/header.css', type='text/css')
body 
    header 
        include ./header.pug
    main
        h1 #{title}
        form(action='/board/write' method='post')
            table(border='1')
                tbody
                    tr
                        td 작성자
                        td #{userid}
                    tr
                        td 제목
                        td
                            input#title(type='text' name='title' required='')
                    tr
                        td 내용
                        td
                            textarea#content(name='content' cols='30' rows='10' required='')
                    tr
                        td(colspan='2')
                            button(type='submit') 글쓰기
