body {
    background-color: rgb(12, 10, 19);
}
  
a {
text-decoration: none;
color: var(--navText-color);
}

input, textarea {
    background-color: rgb(12, 10, 19);
    color: rgb(226, 164, 71);
}


.maintitle{
    text-align: center;
}

.boardlink{
    text-align: center;
}

table {
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
    text-align: center;
}

table,th,td {
    color: rgb(226, 164, 71);
    border: 2px solid white;
    border-collapse: collapse;
    background-color: rgb(12, 10, 19);
    text-align: center;
}

.boardtop{
    height: 2cm;
    font-size: large;
    font-weight: 600;
}
.boardnum{
    text-align: center;
    width: 7%;
}
.boardid{
    text-align: center;
}
.boardtitle{
    text-align: start;
    margin-left: 5%;
}
.commentnum{
    color: yellow;
    margin-right: 5%;
}
.boardhit{
    text-align: center;
    width: 10%
}
.boarddate {
    text-align: center;
}
.pagenum{
    text-align: start;
}
.searchinput, .commentInput{
    width: 50%;
}

.likeBtn{
    display: inline-block;
    width: 1.5cm;
    height: 1.5cm;
}

.commentCon{
    width: 80%;
    margin-left: 3%;
    float: left;
    overflow: hidden;
    resize: none;
}
.commentBtn{
    float: right;
}