.infoBoxContainer {
    /* background-color: red; */
    width: 20vh;
    height: 15vh;
    top: 150px;
    right: 30px;

    display:table;
    position: absolute;
}

.infoBox {
    background-color: royalblue;
    border: 3px solid yellow;
    border-radius: 10px;
    display:table-cell;
    vertical-align:middle;
}